/***** BASE STYLES *****/

body {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 16px;
}

/***** GRID *****/

.full-width {
	width: 1200px;
	margin: 0 auto;
	overflow: auto;
}

.half-width {
	width: 600px;
	float: left;
}

.third-width {
	width: 400px;
	float: left;
}


/***** HEADER STYLING *****/

header {
	height: 75px;
	background: #131313;
	overflow: auto;
}

header h1 {
	font-family: 'Libre Franklin', sans-serif;
	display: inline-block;
	margin: 0 auto;
	color: #f2f2f2;
	padding: 18px 0 0 18px;
	text-shadow: rgba(0, 230, 230, 0.4) 5px 0 0, rgba(230, 0, 115, 0.4) -5px 0 0;
}

nav {
	float: right;
	display: inline-block;
	margin: 28px 18px 0 0;

}

nav ul {
	display: inline-block;
	margin: 0 auto;
}

nav ul li {
	display: inline-block;
	margin: 0 auto;
}

nav ul li a {
	text-decoration: none;
	padding-left: 55px;
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
	text-shadow: rgba(0, 230, 230, 0.4) 4px 0 0
}

nav ul li a span {
	text-shadow: rgba(230, 0, 115, 0.4) -4px 0 0;
}


/***** HERO STYLING *****/

#hero {
	height: 630px;
	background: url('../img/hero.jpg');
	background-size: cover;
    background-position: center;
}

#hero h2 {
	font-size: 72px;
	color: #E6E6E6;
	margin: 0 auto;
	padding: 40px;
	text-shadow: rgba(0, 230, 230, 0.4) 8px -0.5px 0, rgba(230, 0, 115, 0.4) -8px 0.5px 0;
}

#hero h2 span {
	color: #FFFFFF;
	text-shadow: rgba(0, 230, 230, 0.4) 8px 0.5px 0, rgba(230, 0, 115, 0.4) -8px -0.5px 0;
	
}


/***** ABOUT STYLING *****/

#about {
	padding: 18px 18px 18px 30px;
	background: #f2f2f2;
	overflow: auto;
}

#about h2 {
	font-size: 48px;
	padding: 0 0 30px 0;
	margin: 0 auto;
	text-shadow: rgba(0, 230, 230, 0.4) 4px 0 0, rgba(230, 0, 115, 0.4) 12px 0 0;
}

#about p {
	font-size: 32px;
	padding: 0 100px 0 0;
	line-height: 50px;
}

#about .full-width {
    padding: 15px 0;
}

#about img {
	width: 250px;
}

#about #img-front {
	position: relative;
}

#about #img-middle-1 {
	position: absolute;
	float: left;
	padding-left: 83px;
	opacity: 0.8;
}

#about #img-middle-2 {
	position: absolute;
	float: left;
	padding-left: 166px;
	opacity: 0.6;
}

#about #img-middle-3 {
	position: absolute;
	float: left;
	padding-left: 249px;
	opacity: 0.4;
}

#about #img-back {
	position: absolute;
	float: left;
	padding-left: 332px;
	opacity: 0.2;
}


#about #about-image {

}


/***** WORK STYLING *****/

#work {
	overflow: auto;
	padding: 33px 0 75px 0;
	background: #131313;
}

#work img {
	height: 350px;
	margin-top: 75px;
	box-shadow: rgba(230, 0, 115, 0.8) 30px -30px 0px;
}


#work h2 {
	font-size: 48px;
	color: #f2f2f2;
	margin: 0 auto;
	text-shadow: rgba(0, 230, 230, 0.4) 4px 0 0, rgba(230, 0, 115, 0.4) 12px 0 0;
}

#work h3 {
	font-size: 32px;
	margin: 0 auto;
	color: #f2f2f2;
	padding-top: 75px;
}

#work h4 {
	font-size: 1.17em;
	margin: 0 auto;
	padding-top: 5px;
	color: #f2f2f2;
}

#work p {
	font-size: 20px;
	line-height: 28px;
	margin: 0 auto;
	color: #f2f2f2;
	padding: 15px 0 0 0;
	height: 275px;

}

#work #column-1 h3 {
	text-align: right;
	padding-right: 50px;
	text-shadow: rgba(230, 0, 115, 0.4) -12px 0 0;
}

#work #column-1 h4 {
	text-align: right;
	padding-right: 50px;
}

#work #column-1 p {
	text-align: right;
	padding-right: 50px;
}

#work #column-2 h3 {
	padding-left: 50px;
	text-shadow: rgba(0, 230, 230, 0.4) 5px 0 0;
}

#work #column-2 h4 {
	padding-left: 50px;
}

#work #column-2 p {
	padding-left: 50px;
}

#work #column-2 img {
	margin-left: 50px;
	box-shadow: rgba(0, 230, 230, .8) -50px -50px 0px;
}



/***** CONTACT STYLING *****/

#contact {
	background: url('../img/neon-background.jpg');
	background-size: cover;
	background-position: center;
	height: 250px;
	text-align: center;
	color: #f2f2f2;
	box-shadow:inset 0 0 0 2000px rgba(0, 0, 100, 0.4);
}

#contact h2 {
	margin: 0 auto;
	padding: 75px 0 25px 0;
}

#contact h3 {
	margin: 0 auto;
}

#contact h3 a {
	text-decoration: none;
	color: #f2f2f2;
}

#contact img {
	width: 30px;
	padding: 0 25px 0 25px;
}


/***** FOOTER STYLING *****/

footer {
	background-color: #131313;
	height: 65px;
}

footer h4 {
	margin: 0 auto;
	text-align: center;
	color: #f2f2f2;
	padding: 23px 0 0 0;
	text-shadow: rgba(0, 230, 230, 0.4) -4px 0 0;
}

footer h4 span {
	text-shadow: rgba(230, 0, 115, 0.4) 4px 0 0
}




